* {
    box-sizing: border-box;
}
.wrapper {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    align-items: center;
}
.general-header {
    position: fixed;
    background-color: white;
    display: inline-block;
}
.logo-size {
    width: 155px;
    padding-top: 10px;
    
}
.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4a4a4a;
    
}
.principal {
    background: #3CDBC0;
    color: #FFFFFF;
    display: inline-block;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 50%;
    padding-bottom: 50%;
    font-size: 1.875rem;
    align-self: center;
    
}